<div class="container contin-custom">
    <div class="card">
        <div class="card-header card-header-custom">
         <h1>SLOTS</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>from time</th>
                <th>to time</th>
                <th>persons per slot</th>
                <!-- {{"18" | date:'mediumTime'}} -->
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let i of slotArr">
                <td>{{convertTime(i.fromTime)}}</td>
                <td>{{convertTime(i.toTime)}}</td>
                <td>{{i.numberofToken}}</td>
                <td><form  (ngSubmit)="onSubmit(i._id)">
                  <button class="btn-custom" name="" id="delete">delete</button>
                </form>
                  </td>
              </tr>
      
            </tbody>
          </table>
        </div>
      </div>
    </div>