<app-gym-name></app-gym-name>
<div class="container contin-custom">
    <div class="card">
        <div class="card-header card-header-custom">
         <h1>Bookings</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>start time</th>
                <th>end time</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let i of slot ">
                <td>{{i.userName}}</td>
                <td>{{i.phoneNumber}}</td>
                <td>{{convertTime(i.fromTime)}}</td>
                <td>{{convertTime(i.toTime)}}</td>
              </tr>
      
            </tbody>
          </table>
        </div>
      </div>
    </div>