<!-- <div class="container contin-custom">
  <div class="card"  >
    <h1>welcome to </h1>
  </div>
</div> -->
<div class="container contin-custom">
    <div class="card">
        <div class="card-header card-header-custom">
         <h1>Bookings</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>From time</th>
                <th>To time</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let i of slot ">
                <td>{{i.userName}}</td>
                <td>{{i.phoneNumber}}</td>
                <td>{{i.fromTime}}</td>
                <td>{{i.toTime}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>