<div class="container contin-custom">
    <div class="card">
        <div class="card-header card-header-custom">
         <h1>Admissions</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>password</th>
              </tr>
            </thead>
            <tbody >
               <tr *ngFor="let i of slotArr">
                <td>{{i.userName}}</td>
                <td>{{i.phoneNumber}}</td>
                <td>{{i.password}}</td>
              </tr>
      
            </tbody>
          </table>
        </div>
      </div>
    </div>