<nav style="background-color:#161616"class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><h2 style="color:white">GYM ANYTIME</h2></a>
      
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul *ngIf="loginStatus" class="navbar-nav mr-auto " >
        <li *ngIf="userTye=='gym'" class="nav-item active ">
            <a class="nav-link text-white" routerLink="bookings" >Bookings<span class="sr-only"></span></a>
        </li>
        <li *ngIf="userTye=='gym'" class="nav-item active ">
          <a class="nav-link text-white" routerLink="customers" >Members<span class="sr-only"></span></a>
        </li>
        <li *ngIf="userTye=='gym'" class="nav-item active ">
          <a class="nav-link text-white" routerLink="new-addmission" >New Membership<span class="sr-only"></span></a>
        </li>
        <li *ngIf="userTye=='gym'" class="nav-item active ">
          <a class="nav-link text-white" routerLink="sloats" > Sloats <span class="sr-only"></span></a>
        </li>
        <li *ngIf="userTye=='gym'" class="nav-item active ">
          <a class="nav-link text-white" routerLink="create-sloats">Create Sloats <span class="sr-only"></span></a>
        </li>
        <li *ngIf="userTye=='user'" class="nav-item active ">
          <a class="nav-link text-white" routerLink="book-sloat" >Book sloat<span class="sr-only"></span></a>
        </li>
        <li *ngIf="userTye=='gym' || userTye=='user'" class="nav-item active ">
            <a class="nav-link text-white" routerLink="log-out">Logout<span class="sr-only"></span></a>
          </li>
    </ul>
    </div>
  </nav>