<div class="container contin-custom">
  <div class="card"  >
    <h1>welcome to {{useData.owner.gymName}}</h1>
  </div>
</div>
<div class="container contin-custom" *ngIf="hideStatus">
    <div class="card">
        <div class="card-header card-header-custom">
         <h1>AVAILABLE SLOTS</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>from time</th>
                <th>to time</th>
                <th style="text-align: center;">Status</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let i of slotArr">
                <td>{{i.fromTime}}</td>
                <td>{{i.toTime}}</td>
                <!-- <td><h1 [style.color]="((10-9)<=0)?'red':'green'">text</h1></td> -->
                <td>
                  <h6 *ngIf='((i.availableToken)<=0) ; else elseBk'  style="color:white;background-color:red;text-align: center;">not available</h6>
                  <ng-template #elseBk>
                    <h6 style="color:white;background-color:green;text-align: center;"> available</h6>
                  </ng-template>
                </td>
                <td><form  (ngSubmit)="onSubmit(i._id,i.fromTime,i.toTime)">
                  <button class="btn-custom" *ngIf='!((i.availableToken)<=0)'>book</button>
                  <div class="btn-custom-disabled" *ngIf='((i.availableToken)<=0)'>book</div>
                </form>
                  </td>
              </tr>
      
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!--     <div class="container contin-custom"  *ngIf="!hideStatus">
      <div class="card"  >
         <div class="card-body" >
          <div style="text-align:center;" >
             <h1>you have booked already on {{date}} !! :)</h1>
          </div>
         </div>
      </div>
    </div> -->
