<div class="container contin-custom">
    <div class="card"  >
      <div class="card-header card-header-custom" ><h1>ADD A  SLOAT</h1></div>
       <div class="card-body" >
        <form  >
            <div class="form-group">
              <label >Persons per slot</label>
                <select class="form-control"  id="perPersons">
                    <option value="select">select</option>
                    <option *ngFor="let i of count" value="{{i}}" >{{i}}</option>
                  </select>
                  <div *ngIf="personErr" class="err-red">
                    <p>please select no of persons per slot</p>
                </div>
            </div>
             <div class="form-group">
                <label >From time</label>
                <div class="row" style="padding:2%;">
                    <div class="col ">
                        <select class="form-control"  id="ToHour">
                            <option value="hour">hour</option>
                            <option *ngFor="let i of hour" value="{{i}}">{{i}}</option>
                          </select>
                          <div *ngIf="toErr" class="err-red">
                            <p>Invalid time</p>
                        </div>
                    </div>
                    <div class="col ">
                        <select class="form-control" id="ToMinute">
                            <option value="minute">minute</option>
                            <option *ngFor="let i of min" value="{{i}}" >{{i}}</option>
                          </select>
                    </div>
                    <div class="col ">
                        <select class="form-control" id="ToTimeReg">
                            <option value="AM">AM</option>
                             <option value="PM">PM</option>
                          </select>
                    </div>
                  </div>
             </div>
             <div class="form-group">
                <label >To time</label>
                <div class="row" style="padding:2%;">
                    <div class="col ">
                      <select class="form-control"  id="FromHour">
                        <option value="hour">hour</option>
                        <option *ngFor="let i of hour" value="{{i}}">{{i}}</option>
                      </select>
                      <div *ngIf="fromErr" class="err-red">
                        <p>Invalid time</p>
                      </div>
                    </div>
                    <div class="col ">
                      <select class="form-control" id="FromMinute">
                        <option value="minute">minute</option>
                        <option *ngFor="let i of min" value="{{i}}" >{{i}}</option>
                      </select>
                    </div>
                    <div class="col ">
                        <select class="form-control" id="FromTimeReg">
                            <option value="AM">AM</option>
                             <option value="PM">PM</option>
                          </select>
                    </div>
                   
              </div>  
             
             
             
                </div>
               <div class="form-group">
                <button type="submit" class="btn-custom" (click)="onSubmit()">Create</button>
            </div>
        </form>
       </div>
    </div>
  </div>




