<div class="container contin-custom">
    <div class="card"  >
      <div class="card-header card-header-custom" ><h1>CREATE SLOAT</h1></div>
       <div class="card-body" >
        <form >
            <div class="form-group">
                <label class="label-style">Number of persons/sloat</label>
                <input type="number" formControlName="numberOfPersons" class="form-control" />
            </div>
            <div class="form-group">
                <label class="label-style">Starting time</label>
                <input type="text" formControlName="numberOfPersons" class="form-control" />
            </div>
            <div class="form-group">
                <label class="label-style">Ending time</label>
                <input type="text" formControlName="numberOfPersons" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn-custom" name="login" id="login">Create</button>
            </div>
        </form>
       </div>
    </div>
  </div>