<div class="container contin-custom">
    <div class="card"  >
      <div class="card-header card-header-custom" ><h1>ADD A USER</h1></div>
       <div class="card-body" >
        <form >
            <div class="form-group">
                <label class="label-style">Phone number</label>
                <input type="number" formControlName="firstName" class="form-control"  />
            </div>
            <div class="form-group">
                <label  class="label-style">Name</label>
                <input type="text" formControlName="age" class="form-control"  />
            </div>
            <div class="form-group">
                <label class="label-style" >Password</label>
                <input type="password" formControlName="password" class="form-control"  />
            </div>
            <div class="form-group">
                <label class="label-style">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn-custom" name="login" id="login">Register</button>
            </div>
        </form>
       </div>
    </div>
  </div>